<<#include '/screen/layout/layout.html'/>
<head>
    <title>部门</title>
    <!--<script src="${webResourceUrl}/js/view/login.js"></script>-->
</head>
<#macro content>
    <table class="table">
        <caption>基本的表格布局</caption>
        <thead>
        <tr>
            <th>名称</th>
            <th>城市</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
        </tr>
        <tr>
            <td>Sachin</td>
            <td>Mumbai</td>
        </tr>
        </tbody>
    </table>
</#macro>