<#include 'screen/oss/layout/config.html'/>
<html>
<head>
    <title>后台管理</title>
</head>
<frameset rows="100,*,25" framespacing="0" border="0" frameborder="0">
    <frame src="${webResourceUrl}/top.htm" name="TopMenu"  scrolling="no" noresize />
    <frameset cols="180,*" id="resize">
        <frame noresize name="menu" src="${webResourceUrl}/left.htm" scrolling="yes" />
        <frame noresize id="right" src="${webResourceUrl}/right.htm" scrolling="yes" />
    </frameset>
    <frame noresize name="status_bar" scrolling="no" src="" />
</frameset>
<noframes>
</noframes>
</html>