<#include '/screen/oss/layout/layout.html'/>
<#macro head>
    <link href="${webResourceUrl}/css/login.css" type="text/css" rel="stylesheet"/>
</#macro>
<#macro content>
    <DIV ID="CenterAreaBg">
            <DIV ID="CenterArea">
                <DIV ID="LogoImg"><IMG BORDER="0" SRC="${webResourceUrl}/img/images/blue/images/login/logo.png" /></DIV>
                <DIV ID="LoginInfo">
                    <font color="red">
                        <actionerror/>
                    </font>
                    <TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 width=100%>
                        <TR>
                            <TD width=45 CLASS="Subject"><IMG BORDER="0" SRC="${webResourceUrl}/img/images/blue/images/login/userId.gif" /></TD>
                            <TD><INPUT SIZE="20" CLASS="TextField" TYPE="text" NAME="loginName" /></TD>
                            <TD ROWSPAN="2" STYLE="padding-left:10px;"><IMG id="loginBtn" src="${webResourceUrl}/img/images/blue/images/login/userLogin_button.gif"/></TD>
                        </TR>
                        <TR>
                            <TD CLASS="Subject"><IMG BORDER="0" SRC="${webResourceUrl}/img/images/blue/images/login/password.gif" /></TD>
                            <TD><INPUT SIZE="20" CLASS="TextField" TYPE="password" NAME="password" /></TD>
                        </TR>
                    </TABLE>
                </DIV>
                <DIV ID="CopyRight"><A HREF="javascript:void(0)">&copy; 2010 版权所有 itcast</A></DIV>
            </DIV>
    </DIV>

    <#assign controller="login" />
</#macro>